.container {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 40px 20px 0px 20px;
}

.title {
    padding: 0px 0px 15px 0px;
    border-bottom: 2px solid #ffff;
    margin-top: 0px;
}

.release_date {
    margin-bottom: 5px;
}

.vote {
    margin-top: 0;
}

.release_date,
.vote {
    font-weight: bold;
}

.video {
    border-radius: 10px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}